params.publish_mode = 'copy' // Either this needs to be here, or provided by command-line/-params-file, due to settings being resolved before merging into the existing config (prevents circular referencing).
process{
    withName: 'FASTQC' {
        publishDir = [  // This is more verbose, but it's all in one place.
            [
                path: { "${params.outdir}/${getSoftwareName(task.process)}/${meta.id}" },
                mode: params.publish_mode,
                pattern: '*.html'
            ],
            [
                path: { "${params.outdir}/${getSoftwareName(task.process)}/${meta.id}/zips" },
                mode: params.publish_mode,
                pattern: '*.zip'
            ]
        ]
    }
}
